

main.localhost {
    reverse_proxy http://localhost:8000
}

another.localhost {
    reverse_proxy http://localhost:8001
}

localhost {
    handle /another {
        uri strip_prefix another
        reverse_proxy http://localhost:8001
    }

    handle /* {
         reverse_proxy http://localhost:8000
    }
}